[submodule "pdf"]
	path = pdf
	url = git://github.com/Setasign/FPDF
[submodule "mpdf"]
	path = mpdf
	url = git://github.com/mpdf/mpdf
[submodule "vendor/mpdf"]
	path = vendor/mpdf
	url = git://github.com/mpdf/mpdf
