body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: #d9d9d9;
}

.box {
    width: 300px;
    padding: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    text-align: center;
    box-shadow: 0 5px 20px rgba(0, 0, 0, .5);

}

.box h1 {
    font-weight: bolder;
}

td {
    padding: 10px 20px;
}

.box input[type ="text"], .box input[type = "password"] {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid black;
    padding: 10px;
    width: 180px;
    outline: none;
    color: black;
    border-radius: 10px;
    transition: 0.25s;
}

.box input[type ="text"]:focus, .box input[type = "password"]:focus {

    border: 2px solid #0081cc;
    border-radius: 12px;
}

.box input[type ="submit"] {
    border: 0;
    background: none;
    display: block;
    margin: 15px auto;
    text-align: center;
    border: 2px solid black;
    padding: 10px 10px;
    width: 100px;
    outline: none;
    color: black;
    border-radius: 12px;
    font-weight: bold;
    transition: 0.25s;
}

.box input[type ="submit"]:hover {
    background: black;
    color: white;
    border-radius: 16px;

}