body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: #f8f8f8;
    color: white;
    transition: 0.25s;
}
.box{
    width: 300px;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #212121;
    text-align: center;
    box-shadow: 0 5px 20px rgba(0,0,0,.5);

}

.box h1{
    color: white;
    font-weight: bolder;
}
.box input[type ="text"],.box input[type = "password"]{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid white;
    padding: 10px;
    width: 150px;
    outline: none;
    color: white;
    border-radius: 10px;
    transition: 0.25s;
}

.box input[type ="text"]:focus,.box input[type = "password"]:focus {
    width: 180px;
    border: 2px solid deepskyblue;
    border-radius: 12px;
}

.box input[type ="submit"]{
    border: 0;
    background: none;
    display: block;
    margin: 15px auto;
    text-align: center;
    border: 2px solid white;
    padding: 10px 10px;
    width: 100px;
    outline: none;
    color: white;
    border-radius: 12px;
    font-weight: bold;
    transition: 0.25s;
}

.box input[type ="submit"]:hover{
    background: white;
    color: black;
    border-radius: 16px;

}